{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Kit Creation{% endtrans %}</h1>
    <hr>
    <div class="creation-form" id="creation-form">
        {{ form_start(form) }}
        <label>{% trans %}CLI{% endtrans %}</label><br>
        {{ form_widget(form.cli) }}<br>
        <label>{% trans %}Pack choice{% endtrans %}</label><br>
        {{ form_widget(form.pack) }}<br>
        <div class="row">
            {% if form.fail_quiet_area_1dm is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Fail quiet area 1DM{% endtrans %}</label><br>
                    {{ form_widget(form.fail_quiet_area_1dm) }}<br>
                </div>
            {% endif %}

            {% if form.pass_quiet_area_1dm is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Pass quiet area 1DM{% endtrans %}</label><br>
                    {{ form_widget(form.pass_quiet_area_1dm) }}<br>
                </div>
            {% endif %}

            {% if form.default_1dm is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Default 1DM{% endtrans %}</label><br>
                    {{ form_widget(form.default_1dm) }}<br>
                </div>
            {% endif %}

            {% if form.decodability_1dm is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Decodability 1DM{% endtrans %}</label><br>
                    {{ form_widget(form.decodability_1dm) }}<br>
                </div>
            {% endif %}

            {% if form.contrast_1dm is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Contrast 1DM{% endtrans %}</label><br>
                    {{ form_widget(form.contrast_1dm) }}<br>
                </div>
            {% endif %}

            {% if form.fail_quiet_area_1dl is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Fail quiet area 1DL{% endtrans %}</label><br>
                    {{ form_widget(form.fail_quiet_area_1dl) }}<br>
                </div>
            {% endif %}

            {% if form.pass_quiet_area_1dl is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Pass quiet area 1DL{% endtrans %}</label><br>
                    {{ form_widget(form.pass_quiet_area_1dl) }}<br>
                </div>
            {% endif %}

            {% if form.default_1dl is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Default 1DL{% endtrans %}</label><br>
                    {{ form_widget(form.default_1dl) }}<br>
                </div>
            {% endif %}

            {% if form.decodability_1dl is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Decodability 1DL{% endtrans %}</label><br>
                    {{ form_widget(form.decodability_1dl) }}<br>
                </div>
            {% endif %}

            {% if form.contrast_1dl is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Contrast 1DL{% endtrans %}</label><br>
                    {{ form_widget(form.contrast_1dl) }}<br>
                </div>
            {% endif %}

            {% if form.reset_pixel_size is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Reset pixel size{% endtrans %}</label><br>
                    {{ form_widget(form.reset_pixel_size) }}<br>
                </div>
            {% endif %}

            {% if form.xdim is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}X - Dim{% endtrans %}</label><br>
                    {{ form_widget(form.xdim) }}<br>
                </div>
            {% endif %}

            {% if form.modulation is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Modulation{% endtrans %}</label><br>
                    {{ form_widget(form.modulation) }}<br>
                </div>
            {% endif %}

            {% if form.anu is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}ANU{% endtrans %}</label><br>
                    {{ form_widget(form.anu) }}<br>
                </div>
            {% endif %}

            {% if form.gnu is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}GNU{% endtrans %}</label><br>
                    {{ form_widget(form.gnu) }}<br>
                </div>
            {% endif %}

            {% if form.contrast_2dm is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Contrast 2DM{% endtrans %}</label><br>
                    {{ form_widget(form.contrast_2dm) }}<br>
                </div>
            {% endif %}

            {% if form.contrast_uniformity is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}Contrast Uniformity{% endtrans %}</label><br>
                    {{ form_widget(form.contrast_uniformity) }}<br>
                </div>
            {% endif %}

            {% if form.uec is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}UEC{% endtrans %}</label><br>
                    {{ form_widget(form.uec) }}<br>
                </div>
            {% endif %}

            {% if form.fpd is defined %}
                <div class="col-lg-4">
                    <label>{% trans %}FPD{% endtrans %}</label><br>
                    {{ form_widget(form.fpd) }}<br>
                </div>
            {% endif %}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% if created %}
            Swal.fire({
                icon: 'success',
                title: "{{ 'Kit has been created'|trans }}",
                showConfirmButton: false,
                timer: 3000
            }).then(function() {
                window.location = "{{ path('security_home') }}";
            });
        {% endif %}

        {% for message in app.flashes('danger') %}
            var msg = "{{ message }}";
            Swal.fire({
                icon: 'error',
                title: "{{ 'Error'|trans }}",
                text: msg
            })
        {% endfor %}

        function choosePack() {
            var pack = $('#kit_pack');
            pack.change(function () {
                var cli = $('#kit_cli').val();
                var form = $(this).closest('form');
                var data = {};
                data[pack.attr('name')] = pack.val();
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: data,
                    success: function (html) {
                        $("#creation-form").html($(html).find("#creation-form"));
                        $('#kit_cli').val(cli);
                        choosePack();
                    }
                })
                .done(function (html) {
                    $("#creation-form").html($(html).find("#creation-form"));
                    $('#kit_cli').val(cli);
                })
                .fail(function (error) {

                })
                .always(function () {
                    choosePack();
                });
            });
        }

        $(document).ready(function () {
            choosePack();
        });
    </script>
{% endblock %}