<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Axicon E-cert{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('img/icon.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 page">
                    <div class="flags">
                        {% set routeName = app.request.attributes.get("_route") %}
                        {% set routeParams = app.request.attributes.get("_route_params") %}
                        <ul>
                            {% for locale in locales %}
                                <a href="{{ path(routeName, routeParams|merge({"_locale": locale})) }}"><img src="{{ asset('img/flag/' ~ locale ~ '.png') }}" alt="{{ locale }}"></a>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="home-link">
                        <a href="{{ path('home') }}"><img class="" src="{{ asset('img/icon.png') }}" alt="icon"></a>
                    </div>
                    <div class="content">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        {% endblock %}
    </body>
</html>
